<footer class="bg-dark text-center text-lg-start">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <img
          src="{{ url_for('static', filename='images/Premier League Logo.png') }}"
          class="img-fluid"
          alt="..."
        />
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0 text-light">
          Links to the Best leagues
        </h5>

        <ul class="list-unstyled">
          <li>
            <a
              href="https://www.premierleague.com/home"
              class="text-light text-decoration-none"
              >Premier League</a
            >
          </li>
          <li>
            <a
              href="https://www.laliga.com/en-GB"
              class="text-light text-decoration-none"
              >La Liga</a
            >
          </li>
          <li>
            <a
              href="https://www.bundesliga.com/en/bundesliga"
              class="text-light text-decoration-none"
              >Bundesliga</a
            >
          </li>
          <li>
            <a
              href="https://www.legaseriea.it/en"
              class="text-light text-decoration-none"
              >Lega Serie A</a
            >
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Contact</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a class="text-light text-decoration-none"
              >Email: Mendozajustin97@gmail.com</a
            >
          </li>
          <li>
            <a class="text-light text-decoration-none">Phone: (609)-851-6137</a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/jwavy9/"
              class="text-light text-decoration-none"
              >Instagram</a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/jwavy9/"
              class="text-light text-decoration-none"
              >Facebook</a
            >
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">About Us</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a class="text-light text-decoration-none"
              >Once apon a time a few friends were playing fifa</a
            >
          </li>
          <li>
            <a class="text-light text-decoration-none"
              >Although other players were easy to find
            </a>
          </li>
          <li>
            <a class="text-light text-decoration-none"
              >The problem was retention</a
            >
          </li>
          <li>
            <a class="text-light text-decoration-none">Well look no further</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center text-light">
    © 2023 Copyright:
    <a class="text-light text-decoration-none">Justin Mendoza</a>
  </div>
</footer>
